body
    overflow-x hidden
.theme-container.index-page-class
    .navbar
        position relative
        color #fff
        box-shadow 0 1px 8px 0 rgba(0, 0, 0, 0.6)
    .home-blog 
        .hero 
            padding 0
            margin 0 auto
            h1
                display none
            .description
                color #fff
                font-size 2.5rem
                font-family Long Cang,cursive!important

.theme-container.index-page-class .navbar, .theme-container.index-page-class .navbar .links
    background #ffffff00

.theme-container.index-page-class .navbar :not(.dropdown-item)
    --text-color-sub #fff

.index-page-class 
    .nav-links .nav-item a, .nav-links a.router-link-active .iconfont, .nav-links a:hover .iconfont, .navbar .search-box input, .navbar .site-name
        color #fff

.index-page-class 
    .dropdown-wrapper 
        .nav-dropdown 
            .dropdown-item
                color: #282c34;
                line-height 1.7rem
                .iconfont
                    color #282c34
                a
                    color #282c34

.content__default, .home-blog-wrapper
    transition none!important

.content__default
    transform none!important


.custom-block.tip
    border-color #92c8fd !important

.custom-block.tip .title
    color #92c8fd !important
